<!doctype html>
<html lang="tr">

<head>
    <!-- HEAD START -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../eklentiler/boostrap/css/bootstrap.min.css">
    <title>Hello, world!</title>
    <!-- HEAD END -->
</head>

<body class="">
    <!-- Navbar START-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Araç İşlemleri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hesabım</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="giris-yap.html" class="btn btn-outline-danger my-2 my-sm-0">Çıkış Yap</a>
            </form>
        </div>
    </nav>
    <!-- Navbar END -->

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>id</th>
                    <th>text 1</th>
                    <th>text 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>demo</td>
                    <td>demo 2</td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small fixed-bottom blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a> Footer</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- SCRIPT START-->
    <script src="../eklentiler/jquery/jquery.min.js"></script>
    <script src="../eklentiler/boostrap/js/bootstrap.min.js"></script>

    <!-- SCRIPT END-->
</body>

</html>